################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Mouha.DemoAspNetCoreGithub/.vs/Mouha.DemoAspNetCoreGithub
/Mouha.DemoAspNetCoreGithub/Mouha.DemoAspNetCoreGithub/bin/Debug/netcoreapp3.1
/Mouha.DemoAspNetCoreGithub/Mouha.DemoAspNetCoreGithub/obj
/Mouha.DemoAspNetCoreGithub/Mouha.DemoAspNetCoreGithub/wwwroot/lib
/Mouha.DemoAspNetCoreGithub/Mouha.DemoAspNetCoreGithub/bin/Release/netcoreapp3.1
