@model Mouha.DemoAspNetCoreGithub.Models.ForgotPasswordModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="container">
    <h4>ForgotPasswordModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">

            @if (Model?.EmailEnvoye == true)
            {
                <div class="alert alert-success" role="alert">
                    <p> Nous avons envoyé un email dans votre boîte de reception.</p>
                </div>
            }
            else
            {
                <p>Si vous avez oublié, vous pouvez le réinitialiser. </p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </form>
            }


        </div>

    </div>

    <div>
        <a asp-action="Login" asp-controller="Compte">Login</a>
    </div>
</div>

