<footer class="border-top footer text-muted text-center">
    <div class="container">
        Copyright &copy; Gestion des livres, @DateTime.Now.Year
        <custom-email mon-email="mouhameddiouf19@gmail.com"></custom-email>
    </div>
</footer>
