@{
    ViewData["Title"] = "Tous les livres";
}

@model IEnumerable<BookModel>

<div class="container">
    <h3 class="display-4">Tous les livres</h3>
    <div class="row">

        @foreach (var livre in Model)
        {
        <div class="col-md-4">
            <partial name="_bookThumbnail" model="@livre"/>
        </div>
        }

    </div>
</div>