
@*@section breadcrumb{
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Page 1</a></li>
            <li class="breadcrumb-item active">About us</li>
        </ol>
    </nav>
}*@
<h1>Voici la page a propos de l'application.</h1>
